* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  background: #0E3B5C;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

p {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.container {
  max-width: 1140px;
  padding: 0 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  column-gap: 3rem;
}

.align-items-center {
  align-items: center;
}

.justify-content-sb {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.col-2 {
  width: calc((100% - 15rem) / 6);
}

.col-3 {
  width: calc((100% - 9rem) / 4);
}

.col-4 {
  width: calc((100% - 6rem) / 3);
}

.col-6 {
  width: calc((100% - 1rem) / 2);
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-12 {
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  display: block;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

header {
  color: white;
  padding: 2.4rem 0;
}
header nav ul {
  display: flex;
  align-items: end;
  column-gap: 2rem;
  list-style: none;
}
header nav ul li {
  font-size: 2rem;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li a.btn__white {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
header nav ul li a.btn__white:before {
  content: url(../img/icon-whatsapp-verde.svg);
}
header nav ul li a.btn__white:hover, header nav ul li a.btn__white:focus {
  text-decoration: none;
}
header nav ul li a:hover, header nav ul li a:focus {
  text-decoration: underline;
}

main {
  color: white;
  padding: 4rem 0 10rem;
}
main h1 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}
main p {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
main .btn {
  margin-top: 2rem;
}
main .btn:after {
  content: url(../img/icon-arrow.svg);
  margin-left: 1rem;
}

section {
  padding: 10rem 0;
}
section#about, section#questions {
  background-color: #ffffff;
  color: black;
}
section#products {
  background-color: #F0F0F0;
}
section#products h2 {
  margin-bottom: 4rem;
}
section#products .products__single h3 {
  text-align: center;
  margin-top: 2rem;
}
section#products .products__single__box {
  border-radius: 2rem;
  background: #0E3B5C;
  height: 32rem;
  display: flex;
}
section#products .products__single__box img {
  align-self: center;
}
section#clients {
  background-color: #B2A074;
  color: white;
}
section#clients h2 {
  margin-bottom: 1rem;
}
section#clients h2 + p {
  margin-bottom: 6rem;
}
section#clients .clients__single {
  display: flex;
  row-gap: 2rem;
}
section#clients .clients__single > img {
  border: 4px solid white;
  border-radius: 50%;
}
section#clients .clients__single p {
  text-align: center;
  margin-bottom: 0;
}
section#clients .clients__single__stars {
  list-style: none;
  display: flex;
  column-gap: 1rem;
}
section#clients .clients__single__stars__single-star {
  background: url(../img/star.svg) no-repeat;
  width: 28px;
  height: 28px;
  background-size: contain;
}

details {
  border-bottom: 2px solid black;
}
details summary {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 1rem;
}
details summary:hover {
  cursor: pointer;
  color: #B2A074;
  transition: color 0.2s ease;
}
details p {
  padding: 0 1rem 1rem;
  color: #333;
  line-height: 1.6;
  font-size: 1.6rem;
}
details p em {
  font-style: italic;
}

.footer__links {
  padding: 8rem 0;
}
.footer__links h3 {
  color: white;
  margin-bottom: 1.5rem;
}
.footer__links ul {
  list-style: none;
}
.footer__links__menu {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.footer__links__menu li {
  font-size: 1.8rem;
}
.footer__links__menu li a {
  color: white;
  text-decoration: none;
}
.footer__links__menu li a:hover {
  text-decoration: underline;
}
.footer__links__social {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.footer__links__contact {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.footer__links__contact li {
  font-size: 1.8rem;
  display: flex;
  align-items: top;
  column-gap: 1rem;
}
.footer__links__contact li.icon-whatsapp:before {
  content: url(../img/icon-whatsapp.svg);
}
.footer__links__contact li.icon-email:before {
  content: url(../img/icon-email.svg);
}
.footer__links__contact li.icon-pin:before {
  content: url(../img/icon-pin.svg);
}
.footer__links__contact li a {
  color: white;
  text-decoration: none;
}
.footer__links__contact li a:hover, .footer__links__contact li a:focus {
  text-decoration: underline;
}
.footer__copy {
  padding: 1.5rem 0;
  background: #0C334F;
  color: white;
  font-size: 1.4rem;
}
.footer__copy a {
  color: white;
  text-decoration: none;
}
.footer__copy a:hover, .footer__copy a:focus {
  text-decoration: underline;
}
.footer__copy .col-6 + .col-6 {
  text-align: right;
}

.btn {
  font-size: 2rem;
  padding: 1.25rem 2rem;
  background-color: #444;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}
.btn__primary {
  background-color: #B2A074;
  color: white;
}
.btn__white {
  background-color: white;
  color: black;
}

@media screen and (max-width: 991px) {
  html {
    font-size: 8px;
  }
  .btn {
    width: 100%;
    padding: 1.75rem 2rem;
  }
  header .col-10 {
    display: none;
  }
  header .col-2 {
    width: 100%;
  }
  header .col-2 a {
    display: flex;
    justify-content: center;
  }
  header .col-2 a img {
    max-width: 80%;
  }
  main .container {
    flex-direction: column-reverse;
    row-gap: 2rem;
  }
  main .container .col-8, main .container .col-4 {
    width: 100%;
  }
  main .container .col-4 img {
    max-width: 300px;
    margin-left: 0;
    margin-right: auto;
  }
  main .container .col-8 {
    text-align: center;
  }
  main .container h1 {
    font-size: 4rem;
  }
  #about .container {
    flex-direction: column;
    row-gap: 3rem;
    text-align: center;
  }
  #about .container .col-6 {
    width: 100%;
  }
  .products .container {
    flex-direction: column;
    row-gap: 7rem;
    text-align: center;
  }
  .products .container .col-6 {
    width: 100%;
  }
  .clients .container {
    text-align: center;
  }
  .clients .container + .container {
    flex-direction: column;
    row-gap: 6rem;
  }
  .clients .container + .container .col-3 {
    width: 100%;
  }
  #questions .container .col-8 {
    width: 100%;
  }
  .footer .container.footer__links {
    flex-direction: column;
    row-gap: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }
  .footer .container.footer__links .col-3 {
    width: 100%;
  }
  .footer .container.footer__links .footer__links__social {
    justify-content: center;
  }
  .footer .container.footer__links .footer__links__contact {
    text-align: center;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
  }
  .footer .container.footer__links .footer__links__contact li {
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .footer__copy {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  .footer__copy .container {
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
  }
  .footer__copy .container .col-6 {
    width: 100%;
    text-align: center;
  }
}