.btn {
    font-size: 2rem;
    padding: 1.25rem 2rem;
    background-color: #444;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    &__primary {
        background-color: $secondary-color;
        color: white;
    }
    &__white {
        background-color: white;
        color: black;
    }
}