@media screen and (max-width: 991px) {
    html {
        font-size: $font-size-mobile;
    }
    .btn {
        width: 100%;
        padding: 1.75rem 2rem;
    }
    header {
        & .col-10 {
            display: none;
        }
        & .col-2 {
            width: 100%;
            & a {
                display: flex;
                justify-content: center;
                & img {
                    max-width: 80%;
                }
            }
        }
    }
    main {
        & .container {
            flex-direction: column-reverse;
            row-gap: 2rem;
            & .col-8, & .col-4 {
                width: 100%;
            }
            & .col-4 {
                & img {
                    max-width: 300px;
                    margin-left: 0;
                    margin-right: auto;
                }
            }
            .col-8 {
                text-align: center;
            }
            h1 {
                font-size: 4rem;
            }
        }
    }
    #about {
        & .container {
            flex-direction: column;
            row-gap: 3rem;
            text-align: center;
            & .col-6 {
                width: 100%;
            }
        }
    }
    .products {
        & .container {
            flex-direction: column;
            row-gap: 7rem;
            text-align: center;
            & .col-6 {
                width: 100%;
            }
        }
    }
    .clients {
        & .container {
            text-align: center;
        }
        & .container + .container {
            flex-direction: column;
            row-gap: 6rem;
            & .col-3 {
                width: 100%;
            }
        }
    }
    #questions {
        & .container {
            & .col-8 {
                width: 100%;
            }
        }
    }
    .footer {
        & .container {
            &.footer__links {
                flex-direction: column;
                row-gap: 4rem;
                padding-left: 3rem;
                padding-right: 3rem;
                text-align: center;
                & .col-3 {
                    width: 100%;
                }
                & .footer__links__social {
                    justify-content: center;
                }
                & .footer__links__contact {
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        row-gap: 2.5rem;
                        & li {
                            flex-direction: column;
                            row-gap: 0.5rem;
                        }
                }
            }
        }
        &__copy {
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;
            & .container {
                flex-direction: column;
                justify-content: center;
                row-gap: 2rem;
                & .col-6 {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}