* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    background: $primary-color;
    font-family: $font-family;
}

h1 {

}
h2 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
h3 {
    font-size: 2.4rem;
    font-weight: 600;
}
p {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

.container {
    max-width: 1140px;
    padding: 0 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    column-gap: 3rem;
}
.align-items-center {
    align-items: center;
}
.justify-content-sb {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.flex-direction-column {
    flex-direction: column;
}

.col-2 {
    width: calc((100% - 15rem) / 6); // 3 gaps de 3 rem
}
.col-3 {
    width: calc((100% - 9rem) / 4); // 3 gaps de 3 rem
}
.col-4 {
    width: calc((100% - 6rem) / 3); // 2 gaps de 3 rem
}
.col-6 {
    width: calc((100% - 1rem) / 2); // 1 gap de 1 rem
}
.col-8 {
    width: calc((100% / 3) * 2); 
}
.col-9 {
    width: calc((100% / 4) * 3); 
}
.col-10 {
    width: calc((100% / 6) * 5); 
}
.col-12 {
    width: 100%;
}
.img-fluid {
    max-width: 100%;
    display: block;
}
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}
.text-align-center {
    text-align: center;
}

header {
    color: white;
    padding: 2.4rem 0;
    & nav {
        & ul {
            display: flex;
            align-items: end;
            column-gap: 2rem;
            list-style: none;
            & li {
                font-size: 2rem;
                & a {
                    color: white;
                    text-decoration: none;
                    &.btn__white {
                            display: flex;
                            align-items: center;
                            column-gap: 1rem;
                        &:before {
                            content: url(../img/icon-whatsapp-verde.svg);
                            
                        }
                        &:hover, &:focus {
                            text-decoration: none;
                        }
                    }
                    &:hover, &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

main {
    color: white;
    padding: 4rem 0 10rem;
    & h1 {
        font-size: 5rem;
        margin-bottom: 1.5rem;
    }
    & p {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        line-height: 1.5;
    }
    & .btn {
        margin-top: 2rem;
        &:after {
            content: url(../img/icon-arrow.svg);
            margin-left: 1rem;
        }
    }
}

section {
    padding: 10rem 0;
    &#about, &#questions {
        background-color: #ffffff;
        color: black;
    }
    &#products {
        background-color: #F0F0F0;
        & h2 {
            margin-bottom: 4rem;
        }
        & .products__single {
            & h3 {
                text-align: center;
                margin-top: 2rem;
            }
        }
        & .products__single__box {
            border-radius: 2rem;
            background: $primary-color;
            height: 32rem;
            display: flex;
            & img {
                align-self: center;
            }
        }
    }
    &#clients {
        background-color: $secondary-color;
        color: white;
        & h2 {
            margin-bottom: 1rem;
            & + p {
                margin-bottom: 6rem;
            }
        }
        & .clients__single {
            display: flex;
            row-gap: 2rem;
            & > img {
                border: 4px solid white;
                border-radius: 50%;
            }
            & p {
                text-align: center;
                margin-bottom: 0;
            }
            &__stars {
                list-style: none;
                display: flex;
                column-gap: 1rem;
                &__single-star {
                    background: url(../img/star.svg) no-repeat;
                    width: 28px;
                    height: 28px;
                    background-size: contain;
                }
            }
        }
    }
}

details {
    border-bottom: 2px solid black;
    & summary {
        font-size: 2rem;
        font-weight: 500;
        padding: 2rem 1rem;
        &:hover {
            cursor: pointer;
            color: $secondary-color;
            transition: color .2s ease;
        }
    }
    & p {
        padding: 0 1rem 1rem;
        color: #333;
        line-height: 1.6;
        font-size: 1.6rem;
        & em {
            font-style: italic;
        }
    }
}
.footer {
    &__links {
        padding: 8rem 0;
        & h3 {
            color: white;
            margin-bottom: 1.5rem;
        }
        & ul {
            list-style: none;
        }
        &__menu {
            display: flex;
            flex-direction: column;
            row-gap: .5rem;
            & li {
                font-size: 1.8rem;
                & a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &__social {
            display: flex;
            column-gap: 2rem;
            align-items: center;
        }
        &__contact {
            display: flex;
            flex-direction: column;
            row-gap: .5rem;
            & li {
                font-size: 1.8rem;
                display: flex;
                align-items: top;
                column-gap: 1rem;
                &.icon-whatsapp {
                    &:before {
                        content: url(../img/icon-whatsapp.svg);
                    }
                }
                &.icon-email {
                    &:before {
                        content: url(../img/icon-email.svg);
                    }
                }
                &.icon-pin {
                    &:before {
                        content: url(../img/icon-pin.svg);
                    }
                }
                & a {
                    color: white;
                    text-decoration: none;
                    &:hover, &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__copy {
        padding: 1.5rem 0;
        background: #0C334F;
        color: white;
        font-size: 1.4rem;
        & a {
            color: white;
            text-decoration: none;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
        & .col-6 + .col-6 {
            text-align: right;
        }
    }
}